@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
body {
  background: #FDFADB;
  height: 100%;
  margin: 0;
  font-family: poppins;
  width: 100%;
}

body object {
  pointer-events: none;
}

.escritorio {
  display: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: black;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.nav-container a {
  color: white;
}

header {
  display: block;
  padding: 7% 0;
}

header div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

header div ul a {
  display: block;
  padding: 0 1.5em;
}

header div li {
  font-size: 0.6em;
  font-weight: bold;
}

.content {
  padding: 2em;
}

.content .content-container {
  margin: auto;
}

.content .content-container .hero-text {
  margin-top: 2em;
}

.content .content-container .hero-text .titulo {
  font-weight: 700;
  line-height: 22px;
  font-size: 1em;
}

.content .content-container .hero-text .subtitulo {
  font-weight: 500;
  font-size: 0.85em;
}

.content .content-container .hero-text .texto {
  margin-top: 3em;
  font-size: 0.8em;
}

.content .content-container .hero-text .indico {
  display: none;
}

.content .content-container .lista {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  padding-bottom: 1em;
  margin-top: 4em;
  display: -ms-grid;
  display: grid;
}

.content .content-container .lista div {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFAD1;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.content .content-container .lista div object {
  margin-left: 1em;
  width: 10%;
  margin-bottom: 1%;
}

.content .content-container .lista div .competencia {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.85em;
}

.footer {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 45%;
  background: black;
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  vertical-align: middle;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.footer ul a {
  display: block;
  padding: 0 1.5em;
}

.footer ul .whatsapp {
  width: auto;
  height: 25px;
}

.footer ul .linkedin {
  width: auto;
  height: 25px;
}

.footer ul .mail {
  width: auto;
  height: 23px;
}

@media only screen and (min-width: 600px) {
  .nav-container {
    padding-top: 0;
    background: black;
  }
  .nav-container a {
    color: white;
  }
  header {
    padding: 3%;
  }
  header div {
    width: 75%;
    margin: auto;
  }
  header div ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header div ul a {
    display: block;
  }
  header div li {
    font-size: 0.8em;
    font-weight: bold;
  }
  .content {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 12%;
    margin-right: 12%;
  }
  .content .content-container {
    margin: auto;
  }
  .content .content-container .lista {
    margin-top: 2em;
    display: -ms-grid;
    display: grid;
  }
  .content .content-container .lista div {
    margin-top: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
  }
  .content .content-container .lista div object {
    position: relative;
    margin-bottom: 1%;
    margin-left: 1em;
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    padding: 2%;
  }
  .content .content-container .lista div .competencia {
    position: relative;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.85em;
  }
  .footer {
    margin-top: 25%;
    background: black;
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    bottom: 0;
    vertical-align: middle;
  }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .footer ul a {
    display: block;
    padding: 0 1.5em;
  }
  .footer ul .whatsapp {
    width: auto;
    height: 18px;
  }
  .footer ul .linkedin {
    width: auto;
    height: 18px;
  }
  .footer ul .mail {
    width: auto;
    height: 18px;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-container {
    padding-top: 0;
    background: black;
  }
  .nav-container a {
    color: white;
  }
  header {
    padding: 2%;
  }
  header div {
    width: 60%;
    margin: auto;
  }
  header div ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header div ul a {
    display: block;
  }
  header div li {
    font-size: 0.8em;
    font-weight: bold;
  }
  header div .margen {
    margin-left: 5%;
  }
  .content {
    padding-top: 0;
    padding-bottom: 5%;
    margin-left: 12%;
    margin-right: 12%;
  }
  .content .content-container {
    margin: auto;
  }
  .content .content-container .lista {
    width: 85%;
    margin: auto;
    margin-top: 1em;
  }
  .content .content-container .lista div {
    width: 65%;
    margin-top: 10%;
  }
  .content .content-container .lista div object {
    width: 50px;
  }
  .content .content-container .lista div .competencia {
    font-size: 0.9vw;
  }
  .content .content-container .lista .izda {
    margin-right: auto;
  }
  .content .content-container .lista .dcha {
    margin-left: auto;
  }
  .footer {
    margin-top: 8%;
    background: black;
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    bottom: 0;
    vertical-align: middle;
  }
  .footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
  .footer ul a {
    display: block;
    padding: 0 1.5em;
  }
  .footer ul .whatsapp {
    width: auto;
    height: 18px;
  }
  .footer ul .linkedin {
    width: auto;
    height: 18px;
  }
  .footer ul .mail {
    width: auto;
    height: 18px;
  }
}
/*# sourceMappingURL=main.css.map */