@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
body {
  color: black;
  height: 100%;
  margin: 0;
  font-family: poppins;
  width: 100%;
  background: black;
}

body object {
  pointer-events: none;
}

.telefono {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  opacity: 0;
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: white;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.nav-container a {
  color: black;
}

header {
  display: block;
  padding: 7% 0;
}

header div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

header div ul a {
  display: block;
  padding: 0 1.5em;
}

header div li {
  font-size: 0.6em;
  font-weight: bold;
}

.hero-container {
  height: 350px;
  display: -ms-grid;
  display: grid;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(83%, white), color-stop(17%, black));
  background: linear-gradient(to bottom, white 83%, black 17%);
}

.hero-container .nombre {
  margin-top: 6%;
  color: black;
  font-size: 1.4em;
  text-align: center;
  font-weight: 700;
  padding: 1.5em;
  letter-spacing: 0.02em;
}

.hero-container .subtitulo {
  margin-top: -70px;
  text-align: center;
  font-weight: 500;
  font-size: 1.2em;
  padding: 0.8em;
  letter-spacing: 0.02em;
}

.hero-container .telefono {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
}

.content {
  max-width: 400px;
  margin: auto;
  padding: 2em;
}

.content .content-container {
  display: -ms-grid;
  display: grid;
  width: 80%;
  margin: auto;
}

.content .content-container .lista {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
}

.content .content-container .lista div {
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content-container .lista div object {
  margin-left: 1em;
  width: 10%;
  margin-bottom: 1%;
}

.content .content-container .lista div .info {
  margin-left: 1em;
  margin-right: 1em;
  font-size: 0.85em;
  color: white;
}

.content .content-container .lista .dcha {
  margin-left: auto;
}

@media only screen and (min-width: 600px) {
  .nav-container {
    padding-top: 0;
    background: white;
  }
  .nav-container a {
    color: black;
  }
  header {
    padding: 3%;
  }
  header div {
    width: 75%;
    margin: auto;
  }
  header div ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header div ul a {
    display: block;
  }
  header div li {
    font-size: 0.8em;
    font-weight: bold;
  }
  .hero-container {
    height: 400px;
  }
  .hero-container .nombre {
    margin-top: 50px;
    color: black;
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    padding: 1.5em;
    letter-spacing: 0.02em;
  }
  .hero-container .subtitulo {
    margin-top: -30px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    padding: 0.8em;
    letter-spacing: 0.02em;
  }
  .hero-container .telefono {
    margin-top: 20px;
  }
}

@media only screen and (min-width: 800px) {
  .content {
    max-width: 700px;
    margin: auto;
    padding: 2em;
  }
  .content .content-container {
    display: -ms-grid;
    display: grid;
    width: 80%;
    margin: auto;
  }
  .content .content-container .lista {
    margin-top: 2em;
    display: -ms-grid;
    display: grid;
  }
  .content .content-container .lista div {
    width: 45%;
    margin-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .content-container .lista div .movil {
    margin-left: 1em;
    width: 30px;
    height: auto;
    margin-bottom: 1%;
  }
  .content .content-container .lista div .linkedin {
    margin-left: 1em;
    width: 35px;
    height: auto;
    margin-bottom: 1%;
  }
  .content .content-container .lista div .email {
    margin-left: 1em;
    width: 35px;
    height: auto;
    margin-bottom: 1%;
  }
  .content .content-container .lista div .info {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.85em;
    color: white;
  }
  .content .content-container .lista .dcha {
    margin-left: auto;
  }
}

@media only screen and (min-width: 1000px) {
  .nav-container {
    padding-top: 0;
    background: white;
  }
  .nav-container a {
    color: black;
  }
  header {
    padding: 2%;
  }
  header div {
    width: 60%;
    margin: auto;
  }
  header div ul {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header div ul a {
    display: block;
  }
  header div li {
    font-size: 0.8em;
    font-weight: bold;
  }
  header div .margen {
    margin-left: 5%;
  }
  .hero-container .nombre {
    margin-top: 60px;
    color: black;
    font-size: 1.4em;
    text-align: center;
    font-weight: 700;
    padding: 1.5em;
    letter-spacing: 0.02em;
  }
  .hero-container .subtitulo {
    margin-top: -40px;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    padding: 0.8em;
    letter-spacing: 0.02em;
  }
  .content {
    max-width: 1000px;
    margin: auto;
    padding: 2em;
  }
  .content .content-container {
    display: -ms-grid;
    display: grid;
    width: 100%;
    margin: auto;
  }
  .content .content-container .lista {
    margin-top: 2em;
    display: -ms-grid;
    display: grid;
  }
  .content .content-container .lista div {
    width: 45%;
    margin-top: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content .content-container .lista div .movil {
    margin-left: 1em;
    width: 30px;
    height: auto;
    margin-bottom: 1%;
  }
  .content .content-container .lista div .linkedin {
    margin-left: 1em;
    width: 35px;
    height: auto;
    margin-bottom: 1%;
  }
  .content .content-container .lista div .email {
    margin-left: 1em;
    width: 35px;
    height: auto;
    margin-bottom: 1%;
  }
  .content .content-container .lista div .info {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.85em;
    color: white;
  }
  .content .content-container .lista .dcha {
    margin-left: auto;
  }
  .content .content-container .lista .izda {
    margin-left: 20%;
  }
}
/*# sourceMappingURL=main.css.map */